@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@300&display=swap')
;
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap');

:root {
    --fonte1: 'Quicksand', sans-serif;
    --fonte2: 'Oxygen', sans-serif;
}
header {
    border-bottom:1px rgb(192, 191, 191) solid;
    border-top: none;
    border-right: none;
    border-left: none;
}

form, fieldset {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    border-width: 2px;
    font-family: var(--fonte1);
    font-weight: bold;
}
legend {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
label {
    margin: 10px;
}
input {
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 0.1px;
}

fieldset {
    background-color: rgba(245, 244, 244, 0.671);
    padding: 10px;
    margin: 10px 0;
    width: 500px;
}

.button {
    padding: 10px;
    font-weight: 700;
}

a {
    padding: 5px;
    text-decoration: none;
}